* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
}

.container {
    width: 100%;
    height: 100vh;
    background-color: #ddd;
}

.cards-wrapper {
    width: 90%;
    margin: auto;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.card {
    width: 30rem;
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .6)), url("images/bg.jpg") center/cover no-repeat;
    color: #fff;
    text-align: center;
    border-radius: 1rem;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, .8);
    transition: all .4s;
}

.card:hover {
    transform: scale(1.1);
    box-shadow: 0 1.5rem 6rem rgba(0, 0, 0, .8);
}

.card-header {
    margin-bottom: 4rem;
}

.card-header h3 {
    font-family: "Josefin Sans", sans-serif;
    font-size: 3rem;
    font-weight: 300;
    color: chocolate;
    margin: 3rem;
    border-bottom: .1rem groove #fff;
    padding: 1rem;
}

.card-header h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 6rem;
    font-weight: 300;
}

.card-header sup {
    font-size: 3.5rem;
}

.card-header span {
    font-size: 1.8rem;
}

.card-body {
    margin-bottom: 6rem;
}

.card-body li {
    list-style: none;
    font-family: "Josefin Sans" sans-serif;
    font-size: 1.6rem;
    font-weight: 300;
    margin: 1.5rem 0;
}

.card-body i {
    margin-right: 2.5rem;
}

.card-body .fa-check {
    color: #0d683a;
}

.card-body .fa-times {
    color: #911832;
}

.card-footer {
    margin-bottom: 4rem;
}

.card-footer button {
    width: 12rem;
    padding: 1rem;
    background-color: chocolate;
    color: #ddd;
    font-family: "Montserrat", sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .1rem;
    border: .2rem solid chocolate;
    border-radius: 5rem;
    cursor: pointer;
}

@media screen and (max-width: 60rem) {
    .container {
        height: 100%;
    }

    .cards-wrapper {
        flex-wrap: wrap;
    }

    .card {
        margin: 5rem;
    }
}